#box2{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    color:darkorange;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}