body{
    font-family:Arial, sans-serif;
    background-color:rgb(30, 30, 30);
    text-align:center;
    margin:20px;
}
h1{
    color:silver;
    margin-bottom:30px;
}
.card{
    background-color:white;
    width:300px;
    height: 400px;
    margin:0 auto;
    padding:15px;
    margin-top: 50px;
    border-radius:10px;
    box-shadow: 1px 1px 5px whitesmoke;
}
img{
    width: 200px;
    height: 200px;
    border-radius:5px;
}
.h2{
    color:black;
    font-size:20px;
    margin-top:10px;
}
.p{
    color:dimgray;
    font-size:14px;
    margin:10px 0;
}
.price{
    color:green;
    font-weight:bold;
    margin-bottom: 15px;
}
button{
    background-color: blue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
}
button:hover{
    background-color:darkblue;
}